################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PortableRunner/x64/Debug/PortableRunner.tlog
/PortableRunner/x64/Debug/PortableRunner.Build.CppClean.log
/PortableRunner/x64/Debug/PortableRunner.exe.recipe
/PortableRunner/x64/Debug/PortableRunner.ilk
/PortableRunner/x64/Debug/PortableRunner.log
/PortableRunner/x64/Debug/PortableRunner.obj
/PortableRunner/x64/Debug/PortableRunner.vcxproj.FileListAbsolute.txt
/PortableRunner/x64/Debug/SampleTests.obj
/PortableRunner/x64/Debug/vc145.idb
/PortableRunner/x64/Debug/vc145.pdb
/WindowsColorRunner/x64/Debug/WindowsC.a7462dfa.tlog/CL.command.1.tlog
/WindowsColorRunner/x64/Debug/WindowsC.a7462dfa.tlog/Cl.items.tlog
/WindowsColorRunner/x64/Debug/WindowsC.a7462dfa.tlog/CL.read.1.tlog
/WindowsColorRunner/x64/Debug/WindowsC.a7462dfa.tlog/CL.write.1.tlog
/WindowsColorRunner/x64/Debug/WindowsC.a7462dfa.tlog/link.command.1.tlog
/WindowsColorRunner/x64/Debug/WindowsC.a7462dfa.tlog/link.read.1.tlog
/WindowsColorRunner/x64/Debug/WindowsC.a7462dfa.tlog/link.secondary.1.tlog
/WindowsColorRunner/x64/Debug/WindowsC.a7462dfa.tlog/link.write.1.tlog
/WindowsColorRunner/x64/Debug/WindowsC.a7462dfa.tlog/WindowsColorRunner.lastbuildstate
/WindowsColorRunner/x64/Debug/SampleTests.obj
/WindowsColorRunner/x64/Debug/vc145.idb
/WindowsColorRunner/x64/Debug/vc145.pdb
/WindowsColorRunner/x64/Debug/WindowsColorRunner.Build.CppClean.log
/WindowsColorRunner/x64/Debug/WindowsColorRunner.exe.recipe
/WindowsColorRunner/x64/Debug/WindowsColorRunner.ilk
/WindowsColorRunner/x64/Debug/WindowsColorRunner.log
/WindowsColorRunner/x64/Debug/WindowsColorRunner.obj
/WindowsColorRunner/x64/Debug/WindowsColorRunner.vcxproj.FileListAbsolute.txt
/x64/Debug/PortableRunner.exe
/x64/Debug/PortableRunner.pdb
/x64/Debug/WindowsColorRunner.exe
/x64/Debug/WindowsColorRunner.pdb
